<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link href="styles/style.css" rel="stylesheet" type="text/css">
	<!-- <script src="scripts/registration.js"></script> -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:300&display=swap&subset=latin-ext' rel='stylesheet'
		type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Fira+Code:300&display=swap&subset=latin-ext' rel='stylesheet'
		type='text/css'>
	<title>Bib-maker -> logowanie</title>
	<link href="./favicon.ico" rel="icon">
</head>

<body>
	<header>
		<img src="https://www.macba.cat/uploads/20180605/horizontal_A_1500x500.1.jpg" alt="Baner">
	</header>

	<nav>
		<ul>
			<li><a href="/">Strona główna</a></li>
			<li><a href="/login">Logowanie</a></li>
			<li><a href="/register">Rejestracja</a></li>
			<li><a href="https://localhost:8081/files">Pliki</a></li>
		</ul>
	</nav>
	<div>{{info}}</div>
	<section>
			
		<h3>Zaloguj się</h3>
		
		<form action="{{ url_for('login') }}" method="post" id="login-form" class="login-form"
			enctype="multipart/form-data">

			<label for="login" class="required">Login</label>
			<input id="login" name="login" type="text" pattern="[a-z]{3,12}" required />
			<br />

			<label for="password" class="required">Hasło</label>
			<input id="password" name="password" type="password" pattern="[A-Za-z]{8,}" required />
			<br />

			<input id="button-log-form" type="submit" value="Zaloguj" />
		</form>
	</section>
	<footer>
		<p class="footer-inline left">&copy; 2019 szczepp4</p>
		<p class="footer-inline right">powered by <img
				src="http://icons.iconarchive.com/icons/bokehlicia/captiva/16/vim-icon.png" alt="Vim icon" title="Vim"
				class="footer-img" /></p>
	</footer>
</body>

</html>