<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link href="styles/style.css" rel="stylesheet" type="text/css">
	<!-- <script src="scripts/registration.js"></script> -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:300&display=swap&subset=latin-ext' rel='stylesheet'
		type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Fira+Code:300&display=swap&subset=latin-ext' rel='stylesheet'
		type='text/css'>
	<title>Bib-maker -> rejestracja</title>
	<link href="./favicon.ico" rel="icon">
</head>

<body>
	<header>
		<img src="https://www.macba.cat/uploads/20180605/horizontal_A_1500x500.1.jpg" alt="Baner">
	</header>

	<nav>
		<ul>
			<li><a href="/">Strona główna</a></li>
			<li><a href="/login">Logowanie</a></li>
			<li><a href="/register">Rejestracja</a></li>
			<li><a href="https://localhost:8081/files">Pliki</a></li>
		</ul>
	</nav>

	<section>
		<h3>Zarejestruj się</h3>
		<form action="{{ url_for('register') }}" method="post" id="registration-form" class="registration-form"
			enctype="multipart/form-data">
			<label for="firstname" class="required">Imię</label>
			<input id="firstname" name="firstname" type="text" pattern="[A-Z\p{L}]{1}[A-Za-z\p{L}]*" required />
			<br />

			<label for="surname" class="required">Nazwisko</label>
			<input id="surname" name="surname" type="text" pattern="[A-Z\p{L}]{1}[A-Za-z\p{L}]*" required />
			<br />

			<label for="birthdate" class="required">Data urodzenia</label>
			<input id="birthdate" name="birthdate" type="date" required />
			<br />

			<label for="login" class="required">Login</label>
			<input id="login" name="login" type="text" pattern="[a-z]{3,12}" required />
			<br />

			<label for="pesel" class="required">Pesel</label>
			<input id="pesel" name="pesel" type="text" pattern="[0-9]{11}" required />
			<br />

			<label for="sex" class="required">Płeć</label>
			<input id="sex" name="sex" type="text" pattern="[MF]{1}" required />
			<br />

			<label for="password" class="required">Hasło</label>
			<input id="password" name="password" type="password" pattern="[A-Za-z]{8,}" required />
			<br />

			<label for="repeat-password" class="required">Powtórz hasło</label>
			<input id="repeat-password" name="repeat-password" type="password" pattern="[A-Za-z]{8,}" required />
			<br />

			<label for="photo" class="required">Zdjęcie</label>
			<input id="photo" name="photo" type="file" accept="image/*" required />
			<br />

			<input id="button-reg-form" type="submit" value="Rejestruj" />
		</form>
	</section>
	<footer>
		<p class="footer-inline left">&copy; 2019 szczepp4</p>
		<p class="footer-inline right">powered by <img
				src="http://icons.iconarchive.com/icons/bokehlicia/captiva/16/vim-icon.png" alt="Vim icon" title="Vim"
				class="footer-img" /></p>
	</footer>
</body>

</html>