<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Bib-maker -> wylogowanie</title>

    {% include 'base/head.html' %}

</head>

<body>

    {% include 'base/baner.html' %}
    {% include 'base/nav.html' %}

    <header>
        <h1>Informacja</h1>
    </header>
    <section>
        <p>
            Nastąpiło bezpieczne wylogowanie.
        </p>
       
    </section>

    {% include 'base/footer.html' %}

</body>

</html>