<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Redis & Session</title>
    <meta charset="utf-8">
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <h1>400</h1>
    </header>
    <section>
        <p>Niepoprawne ządanie.
            <a href="{{ url_for('index') }}"> Zawróć.</a>
        </p>
        <p>
            <strong>Więcej o błędzie:</strong>
            <br />
            {{error}}
        </p>
    </section>
</body>

</html>