<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="/styles/style.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Raleway:300&display=swap&subset=latin-ext' rel='stylesheet'
    type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Fira+Code:300&display=swap&subset=latin-ext' rel='stylesheet'
    type='text/css'>
<link href="./favicon.ico" rel="icon">
