<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Library</title>
    <meta charset="utf-8">
    <link href="../static/styles/style.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <script src="../static/scripts/script.js"></script>
</head>

<body>
    <header>
        <h2>Biblioteczka</h2>
    </header>

    <section>
        <table>
            <thead>
                <tr>
                    <td>Lp.</td>
                    <td>Tytuł</td>
                    <td>Autor</td>
                    <td>Rok</td>
                    <td>Wydawca</td>
                </tr>
            </thead>
            <tbody>
                {% for book in my_books %}
                <tr>
                    <td>{{ loop.index }}.</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.year }}</td>
                    <td>{{ book.publisher }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <h3>Dodaj pozycję:</h3>
        <form id="adding-form" class="adding-form" enctype="multipart/form-data">
            <label for="title" class="required">Tytuł</label>
			<input id="title" type="text" required />
            <br />

            <label for="author" class="required">Autor</label>
			<input id="author" type="text" required />
            <br />
            
            <label for="year" class="required">Rok</label>
			<input id="year" type="text" pattern="[0-9]{4}" required />
            <br />
            
            <label for="publisher" class="required">Wydawca</label>
			<input id="publisher" type="text" required />
            <br />
            
            <input id="button-form" type="submit" value="Dodaj" />
        </form>
    </section>
</body>

</html>