<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bib-maker -> pliki</title>
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:300&display=swap&subset=latin-ext' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fira+Code:300&display=swap&subset=latin-ext' rel='stylesheet'
        type='text/css'>
    <link href="./favicon.ico" rel="icon">
</head>

<body>
    <header>
        <img src="https://www.macba.cat/uploads/20180605/horizontal_A_1500x500.1.jpg" alt="Baner">
    </header>
    <nav>
        <ul>
            <li><a href="https://localhost:8080/">Strona główna</a></li>
            <li><a href="https://localhost:8080/login">Logowanie</a></li>
            <li><a href="https://localhost:8080/register">Rejestracja</a></li>
            <li><a href="/files">Pliki</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h3>Dodaj pozycję:</h3>
            <form action="{{ url_for('add_file') }}" method="post" id="adding-form" class="adding-form"
                enctype="multipart/form-data">
                <input id="file" name="file" type="file" required />
                <br />

                <input id="button-form" type="submit" value="Dodaj" />
            </form>
        </section>

    </main>
    <footer>
        <p class="footer-inline left">&copy; 2019 szczepp4</p>
        <p class="footer-inline right">
            powered by <img src="https://icons.iconarchive.com/icons/bokehlicia/captiva/16/vim-icon.png" alt="Vim icon"
                title="Vim" class="footer-img" /></p>
    </footer>
</body>

</html>