<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Pliki</title>
    <meta charset="utf-8">
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <script src="/scripts/script.js"></script>
</head>

<body>
    <header>
        <h2>Pliki</h2>
    </header>

    <section>
        <table>
            <thead>
                <tr>
                    <td>Lp.</td>
                    <td>Nazwa</td>                    
                </tr>
            </thead>
            <tbody>
                {% for i in range(my_files[0]|length) %}
                <tr>
                    <td>{{ loop.index }}.</td>
                    <td><a href="/article-manager/{{ my_files[1][i] }}" download="{{ my_files[0][i] }}" id="file-to-download">{{ my_files[0][i] }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <h3>Dodaj pozycję:</h3>
        <form id="adding-form" class="adding-form" enctype="multipart/form-data">

            <label for="file" class="required">Plik</label>
			<input id="file" type="file" required />
            <br />

            <input id="button-form" type="submit" value="Dodaj" />
        </form>
    </section>
</body>

</html>