main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

body {	
	padding-bottom: 50px;
	font-family: 'Raleway', sans-serif !important;
}

body header {
    text-align: center;
}

body footer {
	position: fixed;
	bottom: 0;
	background-color: grey;
	max-width: inherit;
	width: 100%;
	height: 50px;
	font-family: 'Fira Code', monospace;
    font-size: 15px;
}

.footer-inline {
    display: inline-block;
    width: 48%;
    padding-left: 1%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.footer-img {
    vertical-align: middle;
}

section {
    color: lightgrey;
}

h3 {
    text-align: center;
}

article {
    color: grey;
}

table, tr, td {
    margin-left: auto;
    margin-right: auto;
    color: rgb(63, 63, 63);
    border: 1px solid grey;
    text-align: center;
}

.caption.bottom {
	caption-side: bottom;
}

td:nth-child(odd) {
	background-color: #EEEEEE;
}

td:nth-child(even) {
	background-color: #DDDDDD!important;
}

nav ul {
    list-style-type: none;
    margin: 0;
    background-color: lightgrey;
    text-align:center;
}

nav ul li {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
}

nav ul li a {
    display: inline-block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: grey;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #EEEEEE;
}

.registration-form {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.registration-form label {
    float: none;
    width: 150px;
    text-align: center;
    padding: 10px;
}

.registration-form label::after {
    content: ":";
}

.registration-form input {
    float: none;
    width: 150px;
    padding: 10px;
    display: block;
}

#button-reg-form {
    float: top;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 180px;
}

label.required::after {
    color: grey;
    content: "*:";
}
