<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Redis & Session</title>
        <meta charset="utf-8">
        <link href="/styles/style.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <section>
            <p>To jest strona <strong>zabezpieczona.</strong></p>
            <ul>
                <li><a href="{{ url_for('index') }}"> Link do strony głównej</li>
            </ul>
        </section>
    </body>
</html>
