<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bib-maker -> bibliografie</title>
    
    {% include 'base/head.html' %}

</head>

<body>
    <div class="container-fluid">

        {% include 'base/baner.html' %}
        {% include 'base/nav.html' %}

        <div class="container">
            <main>
                <section>
                    <h3>Dodaj pozycję:</h3>

                    <form action="{{ url_for('add_bib') }}" method="post" class="adding-form"
                        enctype="multipart/form-data">

                        <div class="row justify-content-center">
                            <label class="col-xs-12 col-md-6 required" for="title">Tytuł</label>
                            <input class="col-xs-12 col-md-6" id="title" name="title" type="text"
                                pattern="[A-Za-z0-9\p{L}]{1, 50}" required />
                        </div>
                        <div class="row justify-content-center">
                            <label class="col-xs-12 col-md-6 required" for="author">Autor</label>
                            <input class="col-xs-12 col-md-6" id="author" name="author" type="text"
                                pattern="[A-Za-z0-9\p{L} ]{0,50}" required />
                        </div>
                        <div class="row justify-content-center">
                            <label class="col-xs-12 col-md-6" for="description">Krótki opis</label>
                            <input class="col-xs-12 col-md-6" id="description" name="description" type="text"
                                pattern="[A-Za-z0-9\p{L}.,!? ]{0,150}" />
                        </div>
                        <div class="row justify-content-center">
                            <label class="col-xs-12 col-md-6" for="year">Rok publikacji</label>
                            <input class="col-xs-12 col-md-6" id="year" name="year" type="text" pattern="[0-9]{4}" />
                        </div>
                        <div class="row justify-content-center">
                            <input class="col-xs-12" id="button-form" type="submit" value="Dodaj" />
                        </div>
                    </form>

                </section>

            </main>
        </div>

        {% include 'base/footer.html' %}

    </div>
</body>

</html>