<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bib-maker -> bibliografie</title>

    {% include 'base/head.html' %}
    
</head>

<body>
    <div class="container-fluid vertical-center">
        
        {% include 'base/baner.html' %}
		{% include 'base/nav.html' %}

        <div class="container vertical-center">
            <main>
                <h3>Pozycje bibliograficzne</h3>
                <div class="row justify-content-center ">

                    {% for bib_id, bib_data in bibs.items() %}
                    <div class="col-xs-12 col-md-4 col-lg-3 card" style="width: 18rem;">
                        <div class="card-body">
                            <h6 class="card-subtitle">{{ bib_data['author'] }}</h6>
                            <h4 class="card-title">{{ bib_data['org_bib_title'] }}</h4>
                            <h6 class="card-text">{{ bib_data['year'] }}</h6>
                            <p class="card-text">{{ bib_data['bib_description'] }}</p>

                        </div>
                        <ul class="list-group list-group-flush">

                            {% for file_id, file_data in bib_data['filenames'].items() %}
                            <li class="row justify-content-between list-group-item">
                                <a class="col-11" href="/download-file/{{ file_id }}">{{ file_data['org_filename'] }}</a>
                                <a class="col-1" href="/unpin-file/{{ bib_id }}/{{ file_id }}">odepnij</a>
                            </li>
                            {% endfor %}
                            
                        </ul>
                        <div class="card-body">
                            <a href="/show-files-to-pin/{{ bib_id }}" class="card-link">podepnij pliki</a>
                            <a href="/delete-bib/{{ bib_id }}" class="card-link">usuń</a>
                        </div>

                        {% if bib_id in files_to_pin %}
                            <label for="file-selector">Wybierz pliki do podpięcia:</label>
                            <form action="/pin-file/{{ bib_id }}" method="post" id="pin-form" enctype="multipart/form-data">
                            <select multiple class="form-control" id="file-selector" name="file-selector">

                                {% for file_id, file_data in files_to_pin[bib_id].items() %}
                                <option value="{{ file_id }}" name="{{ file_id }}">{{ file_data['org_filename'] + ' - ' + file_data['upload_date'] }}</option>
                                {% endfor %}

                            </select>
                            <button class="col-xs-12" id="button-form" type="submit">podepnij</button>
                        </form>
                        {% endif %}

                        <h8 class="small">{{ bib_data['upload_date'] }}</h8>

                    </div>
                    {% endfor %}

                </div>
                <div class="row justify-content-center">

                </div>
                <div class="row justify-content-center">
                    <div class="col-xs-12 btn"><a href="/add-bib">dodaj nową pozycję bibliograficzną</a></div>
                </div>
                <div class="row justify-content-center">
                    <button id="logout-btn" class="col-xs-12"><a
                            href="https://localhost:8080/logout">Wyloguj</a></button>
                </div>
            </main>
        </div>

        {% include 'base/footer.html' %}
    </div>
</body>

</html>