<footer>
    <p class="footer-inline left">&copy; 2019 szczepp4</p>
    <p class="footer-inline right">
        powered by <img src="https://icons.iconarchive.com/icons/bokehlicia/captiva/16/vim-icon.png"
            alt="Vim icon" title="Vim" class="footer-img" /></p>
</footer>