<nav>
    <ul>
        <li><a href="https://localhost:8080/">Strona główna</a></li>
        <li><a href="https://localhost:8080/login">Logowanie</a></li>
        <li><a href="https://localhost:8080/register">Rejestracja</a></li>
        <li><a href="https://localhost:8081/bibs">Bibliografie</a></li>
        <li><a href="https://localhost:8081/files">Pliki</a></li>
    </ul>
</nav>