body {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Cambay', sans-serif;
    text-align: center;
}

section {
    color: grey;
    align-items: center;
    justify-content: center;
}

table, tr, td {
    margin-left: auto;
    margin-right: auto;
    color: rgb(63, 63, 63);
    border: 1px solid black;
    text-align: center;
    padding: 2px;
    max-width: 1000px;
    min-width: 100px;
}

tr:nth-child(odd) {
    background-color: rgb(206, 203, 203)!important;
}

tr:nth-child(even) {
    background-color: rgb(250, 250, 250);
}

.adding-form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.adding-form label {
    float: none;
    width: 150px;
    text-align: center;
    padding: 10px;
}

.adding-form label::after {
    content: ":";
}

.adding-form input {
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 150px;
    padding: 10px;
    display: block;
}

#button-form {
    float: top;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 180px;
}

label.required::after {
    color: grey;
    content: "*:";
}

