<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bib-maker -> pliki</title>

    {% include 'base/head.html' %}

</head>

<body>
    <div class="container-fluid">
        <a class="float" href="https://localhost:8080/logout">Wyloguj</a>
        
        {% include 'base/baner.html' %}
        {% include 'base/nav.html' %}

        <div class="container">
            <main>
                <section>
                    <h3>Dodaj pozycję:</h3>

                    <form action="{{ url_for('add_file') }}" method="post" id="adding-form" class="adding-form"
                        enctype="multipart/form-data">
                        <div class="row justify-content-center">
                            <input class="col-xs-12 justify-content-center" id="file-input" name="file" type="file"
                                required />
                        </div>
                        <div class="row custom-control custom-switch justify-content-center">
                            <input type="checkbox" class="custom-control-input col-xs-4" name="publicSwitch"
                                id="publicSwitch">
                            <label class="custom-control-label col-xs-8" for="publicSwitch">udostępnij
                                publicznie</label>
                        </div>
                        <div class="row justify-content-center">
                            <input class="col-xs-12" id="button-form" type="submit" value="Dodaj" />
                        </div>
                    </form>

                </section>

            </main>
        </div>

        {% include 'base/footer.html' %}

    </div>
</body>

</html>