<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bib-maker -> pliki</title>

    {% include 'base/head.html' %}
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="/scripts/script.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/notify.js"></script>
</head>

<body>
    <div class="container-fluid vertical-center">
        <a class="float" href="https://localhost:8080/logout">Wyloguj</a>

        {% include 'base/baner.html' %}
        {% include 'base/nav.html' %}

        <div class="container vertical-center">
            <main>
                <h3>Pliki</h3>

                <div class="row justify-content-center">
                    <div class="col-xs-12 col-lg-6">
                        <section>
                            <table>
                                <h6>PLIKI UŻYTKOWNIKA</h6>
                                <thead>
                                    <tr>
                                        <td>Lp.</td>
                                        <td>Nazwa</td>
                                        <td>Data wgrania</td>
                                        <td>Opcje</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for file_id, file_data in user_files.items() %}
                                    <tr>
                                        <td>{{ loop.index }}.</td>
                                        <td><a href="/download-file/{{ file_id }}"
                                                id="file-to-show">{{ file_data['org_filename'] }}</a></td>
                                        <td>{{ file_data['upload_date'] }}</td>
                                        <td>
                                            <a href="/download-file/{{ file_id }}" id="file-to-download"
                                                download="{{ file_data['org_filename'] }}">Pobierz</a>
                                            </br>
                                            <a href="https://localhost:8081/delete-file/{{ file_id }}">Usuń</a>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </section>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <section>
                            <table>
                                <h6>PLIKI PUBLICZNE</h6>
                                <thead>
                                    <tr>
                                        <td>Lp.</td>
                                        <td>Nazwa</td>
                                        <td>Data wgrania</td>
                                        <td>Opcje</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for file_id, file_data in public_files.items() %}
                                    <tr>
                                        <td>{{ loop.index }}.</td>
                                        <td><a href="/download-file/{{ file_id }}"
                                                id="file-to-show">{{ file_data['org_filename'] }}</a></td>
                                        <td>{{ file_data['upload_date'] }}</td>
                                        <td>
                                            <a href="/download-file/{{ file_id }}" id="file-to-download"
                                                download="{{ file_data['org_filename'] }}">Pobierz</a>
                                            </br>
                                            <a href="https://localhost:8081/delete-file/{{ file_id }}">Usuń</a>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xs-12 btn btn-link"><a href="/add-file">dodaj nowy plik</a></div>
                </div>

            </main>
        </div>

        {% include 'base/footer.html' %}

    </div>
</body>

</html>