<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bib-maker</title>

	{% include 'base/head.html' %}
	
</head>

<body>
	<div class="container-fluid">
		<a class="float" href="https://localhost:8080/login">Zaloguj</a>

		{% include 'base/baner.html' %}
		{% include 'base/nav.html' %}

		<div class="container">
			<main>
				<article>
					<div class="row justify-content-center">
						<h3>Co to jest Bib-maker?</h3>
					</div>
					<div class="row justify-content-center">
						<p>
							Jest to system do zarządzania bibliografią (menedżer bibliografii), który może być
							wykorzystywany
							podczas pisania prac inżynierskich/magisterskich. System jest aktualnie w fazie roboczej.
							Dostępne funkcjonalności:
						</p>
					</div>
					<div class="row justify-content-center">
						<table>
							<thead>
								<tr>
									<td>Lp.</td>
									<td>Nazwa</td>
								</tr>

							</thead>
							<tbody>
								<tr>
									<td>1.</td>
									<td>Uruchamianie za pomocą jednej komendy.</td>
								</tr>

								<tr>
									<td>2.</td>
									<td>Wyświetlanie statycznej strony powitalnej.</td>
								</tr>

								<tr>
									<td>3.</td>
									<td>Przejście do strony formularza rejestracji nowego użytkownika.</td>
								</tr>
								<tr>
									<td>4.</td>
									<td>Ansynchroniczna weryfikacja dostępności loginu dla użytkownika.</td>
								</tr>

								<tr>
									<td>5.</td>
									<td>Wykonanie prawidłowej rejestracji użytkownika.</td>
								</tr>

							</tbody>
						</table>
					</div>
				</article>


				<article>
					<div class="row justify-content-center">
						<h3>Czym jest menedżer bibliografii?</h3>
					</div>
					<div class="row justify-content-center">
						<p>
							Jest to narzędzie pomagające gromadzić i zarządzać danymi o wykorzystanych materiałach
							(artykułach,
							książkach, rozdziałach, stronach internetowych itp.). Menedżer ponadto pozwala na
							generowanie
							opisów
							bibliograficznych wg wybranego standardu, wstawianie odnośników i bibliografii
							załącznikowej.

							Umożliwia eksport opisów w różnych stylach cytowań, w zależności od wymogów wydawnictwa,
							dzięki
							czemu
							autorzy mogą zaoszczędzić cenny czas.
						</p>
					</div>
				</article>

				<section>
					<div class="row justify-content-center">
						<h3>Źródła:</h3>
					</div>
					<div class="row justify-content-center">
						<p>
							<ul>
								<li><a
										href="https://biblioteka.uksw.edu.pl/pl/node/468">https://biblioteka.uksw.edu.pl</a>
								</li>
								<li><a
										href="https://isod.ee.pw.edu.pl/isod-stud/?wicket:bookmarkablePage=:isod.app.courseinfo.CourseInfoPage&idCourseDef=358">https://isod.ee.pw.edu.pl</a>
								</li>
								<li><a
										href="https://www.macba.cat/uploads/20180605/horizontal_A_1500x500.1.jpg">https://www.macba.cat</a>
								</li>
							</ul>
					</div>
				</section>

			</main>
		</div>

		{% include 'base/footer.html' %}

	</div>
</body>

</html>