<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Bib-maker -> 403</title>

    {% include 'base/head.html' %}

</head>

<body>

    {% include 'base/baner.html' %}
    {% include 'base/nav.html' %}

    <header>
        <h1>403</h1>
    </header>
    <section>
        <p>Nie masz dostępu do zasobu.
            <a href="https://localhost:8080/"> Zawróć.</a>
        </p>
        <p>
            <strong>Więcej o błędzie:</strong>
            <br />

            {{error}}

        </p>
    </section>

    {% include 'base/footer.html' %}

</body>

</html>