<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Redis & Session</title>
        <meta charset="utf-8">
        <link href="/styles/style.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <h1>403</h1>
        </header>
        <section>            
            <p>Nie masz dostępu do zasobu.
                <a href="{{ url_for('login') }}"> Zawróć.</a>
            </p>
            <p>
                <strong>Więcej o błędzie:</strong>
                <br/>
                {{error}}
            </p>
        </section>
    </body>
</html>