body {	
    padding-bottom: 50px;

    font-family: 'Raleway', sans-serif !important;
    align-items: center;
    text-align: center;
}

main {
    vertical-align: auto;
    max-width: 1024px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
    align-items: center;
}

body header {
    text-align: center;
}

body footer {
	position: fixed;
	bottom: 0;
	background-color: grey;
	max-width: inherit;
	width: 100%;
	height: 50px;
	font-family: 'Fira Code', monospace;
    font-size: 15px;
}

.footer-inline {
    display: inline-block;
    width: 48%;
    padding-left: 1%;
} 

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.footer-img {
    vertical-align: middle;
}

section {
    color: lightgrey;
    padding-top: 20px;
}

h3, h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

article {
    color: grey;
    padding-top: 20px;
}

table, tr, td {
    margin-left: auto;
    margin-right: auto;
    color: rgb(63, 63, 63);
    border: 1px solid grey;
    text-align: center;
}

.caption.bottom {
	caption-side: bottom;
}

td:nth-child(odd) {
	background-color: #EEEEEE;
}

td:nth-child(even) {
	background-color: #DDDDDD!important;
}

nav ul {
    list-style-type: none;
    margin: 0;
    background-color: lightgrey;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
}

nav ul li a {
    display: inline-block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: grey;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #EEEEEE;
}

div {
    text-align: center;
}

div.container {
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    vertical-align: middle;
}

div.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

div.alert {
    display: inherit; 
    max-width: 400px;
    padding: 10px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.card {
    margin: 10px;
}

div:empty {
    display: none;
}

form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

form label {
    float: none;
    /* width: 150px; */
    text-align: center;
    padding: 10px;
}

form label::after { 
    content: ":";
}

form input {
    float: none;
    /* width: 150px; */
    padding: 10px;
    display: block;
}

a, a:hover{
    color: black;
    word-wrap: break-word;
}

button, #button-reg-form, #button-log-form, #button-form {
    float: top;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 180px;
    margin-bottom: 10px;
}

label.required::after {
    color: grey;
    content: "*:";
}

#logout-btn {
    align-self: right;
    margin-top: 50px;
    margin-bottom: 20px;
}

#pin-form {
    width: fit-content;
}

select {
    height: 150px;
    max-height: 200px;
}

option {
    text-overflow: ellipsis;
    overflow: hidden;
    -moz-white-space: pre-wrap;
    -o-white-space: pre-wrap;
    white-space: pre-wrap;
    border-bottom: 1px solid #DDD;
}
