<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bib-maker -> logowanie</title>

	{% include 'base/head.html' %}
	
</head>

<body>
	<div class="container-fluid">
		
		{% include 'base/baner.html' %}
		{% include 'base/nav.html' %}

		<div class="container">
			<main>
				<div class="alert alert-danger col-xs-12" role="alert">{{info}}</div>
				<section>

					<h3>Zaloguj się</h3>

					<form action="{{ url_for('login') }}" method="post" id="login-form" class="login-form"
						enctype="multipart/form-data">
						<div class="row justify-content-center">
							<label class="col-xs-12 col-md-6 required" for="login" class="required">Login</label>
							<input class="col-xs-12 col-md-6" id="login" name="login" type="text" pattern="[a-z]{3,12}"
								required />
						</div>
						<div class="row justify-content-center">
							<label class="col-xs-12 col-md-6 required" for="password" class="required">Hasło</label>
							<input class="col-xs-12 col-md-6" id="password" name="password" type="password"
								pattern="[A-Za-z]{8,}" required />
						</div>
						<div class="row">
							<input class="col-xs-12" id="button-log-form" type="submit" value="Zaloguj" />
						</div>
					</form>
				</section>
			</main>
		</div>

		{% include 'base/footer.html' %}

	</div>
</body>

</html>