<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bib-maker -> rejestracja</title>

	{% include 'base/head.html' %}

</head>

<body>
	<div class="container-fluid vertical-center">

		{% include 'base/baner.html' %}
		{% include 'base/nav.html' %}

		<div class="container vertical-center">
			<main>
				<div class="alert alert-danger col-xs-12" role="alert">{{ info }}</div>
				<section>
					<h3>Zarejestruj się</h3>
					<form action="{{ url_for('register') }}" method="post" id="registration-form"
						class="registration-form" enctype="multipart/form-data">
						<div class="row justify-content-center">
							<label class="col-xs-12 col-md-6 required" for="firstname" class="required">Imię</label>
							<input class="col-xs-12 col-md-6" id="firstname" name="firstname" type="text"
								pattern="[A-Z\p{L}]{1}[A-Za-z\p{L} ]*" required />
						</div>
						<div class="row justify-content-center">
							<label class="col-xs-12 col-md-6 required" for="surname" class="required">Nazwisko</label>
							<input class="col-xs-12 col-md-6" id="surname" name="surname" type="text"
								pattern="[A-Z\p{L}]{1}[A-Za-z\p{L} ]*" required />
						</div>
						<div class="row justify-content-center">
							<label class="col-xs-12 col-md-6 required" for="birthdate" class="required">Data
								urodzenia</label>
							<input class="col-xs-12 col-md-6" id="birthdate" name="birthdate" type="date" required />
						</div>
						<div class="row justify-content-center">
							<label class="col-xs-12 col-md-6 required" for="login" class="required">Login</label>
							<input class="col-xs-12 col-md-6" id="login" name="login" type="text" pattern="[a-z]{3,12}"
								required />
						</div>
						<div class="row justify-content-center">
							<label class="col-xs-12 col-md-6 required" for="sex" class="required">Płeć</label>
							<input class="col-xs-12 col-md-6" id="sex" name="sex" type="text" pattern="[MF]{1}"
								required />
						</div>
						<div class="row justify-content-center">
							<label class="col-xs-12 col-md-6 required" for="password" class="required">Hasło</label>
							<input class="col-xs-12 col-md-6" id="password" name="password" type="password"
								pattern="[A-Za-z]{8,}" required />
						</div>
						<div class="row justify-content-center">
							<label class="col-xs-12 col-md-6 required" for="repeat-password" class="required">Powtórz
								hasło</label>
							<input class="col-xs-12 col-md-6" id="repeat-password" name="repeat-password"
								type="password" pattern="[A-Za-z]{8,}" required />
						</div>

						<div class="row justify-content-center">
							<input class="col-xs-12" id="button-reg-form" type="submit" value="Rejestruj" />
						</div>
					</form>
				</section>
			</main>
		</div>

		{% include 'base/footer.html' %}

	</div>
</body>

</html>